:root {
  --rojo: #c21010;
  --rojo-claro: #ff1700;
  --amarillo: #ffde00;
  --negro: #212529;
  --gris: #6c757d;
  --gris-oscuro: #343a40;
  --gris-claro: #ced4da;
  --claro: #f8f9fa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "ITC Avant Garde Std Bk";
}
.brand{
  font-family: "Ivy Mode";
  color: var(--rojo);
  font-weight: bold;
  font-size: 1.25em;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100vh;
  background: url("../assets/mantenimiento_1.jpg") no-repeat center fixed;
  background-size: cover;
  z-index: 5;
}
.menu-container {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}
.menu-container li {
  font-size: 18px;
}
.menu-container li a {
  color: var(--rojo);
}
.menu-container li a:hover {
  color: var(--rojo-claro);
  text-shadow: 1px 1px 5px var(--rojo-claro);
}
.slogan-container {
  padding: 10px 25px;
}
.slogan-container h1 {
  font-size: 82px;
  font-family: "Ivy Mode";
  font-weight: bold;
  color: var(--rojo);
  text-shadow: 2px 2px 7px var(--negro);
}
.slogan-container p {
  font-size: 18px;
  max-width: 600px;
  color: var(--claro);
  font-weight: 100;
}
.btn-header button {
  margin: 20px 5px 10px;
  border-radius: 20px;
  padding: 10px 40px;
}
.btn-header .btn-contratar {
  background-color: var(--rojo);
  color: var(--claro);
  border: 0;
}
.btn-header .btn-contratar:hover {
  background-color: var(--rojo-claro);
}
.btn-header .btn-more {
  border-color: var(--amarillo);
  color: var(--amarillo);
}
.btn-header .btn-more:hover {
  background-color: var(--amarillo);
  border-color: var(--amarillo);
  color: var(--claro);
}
.mobile-menu {
  position: fixed;
  background-color: rgba(194, 16, 16, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 100%;
  backdrop-filter: blur(2px);
  z-index: 6;
  transition: 0.5s;
}
.mobile-menu.active {
  right: 0;
  transition: 0.5s;
}
.nav-mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nav-mobile .nav-item {
  width: 100%;
  text-align: center;
}
.nav-mobile .nav-link {
  color: var(--amarillo);
  font-size: 22px;
}
.nav-mobile .nav-link:hover {
  color: var(--rojo-claro);
}
.icon-menu {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 25px;
  color: var(--amarillo);
  transition: 0.5s;
  cursor: pointer;
}
.icon-menu.hidden {
  left: -30px;
  transition: 0.5s;
}
.close-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
  color: var(--amarillo);
  cursor: pointer;
}

/*------------------------------------------------------------------*/

.modal {
  backdrop-filter: blur(3px);
}

.modal-body {
  position: relative;
  background-color: var(--rojo);
}
.modal-body .modal-body-text{
  color: var(--claro);
}
.modal-body-text .brand{
  color: var(--amarillo);
}
.close-modal {
  cursor: pointer;
  color: var(--rojo);
  font-size: 30px;
  position: absolute;
  top: -30px;
  right: -30px;
}
.open-modal {
  border: none;
  background-color: transparent;
  color: var(--gris-claro);
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.servicios-container {
  width: 100%;
}
.servicios-title-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.servicios-title-container h3 {
  padding: 20px 10px 5px;
  font-size: 32px;
  color: var(--rojo);
}
.servicios-title-container p {
  font-size: 14px;
  color: var(--gris-oscuro);
  padding: 0 15px;
}

.servicios-cards-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.servicios-card {
  min-width: 300px;
  max-width: 450px;
  margin: 10px;
  padding: 10px 15px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-image: url("../assets/mantenimiento_1.jpg");
  background-position-y: -100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.6s;
}
.servicios-card-icon {
  font-size: 28px;
  padding: 10px 0;
  z-index: 1;
}
.servicios-card h5 {
  font-size: 18px;
  z-index: 2;
  color: var(--rojo);
}
.servicios-card p {
  font-size: 14px;
  color: var(--gris);
  z-index: 1;
}
.fondo-animado-card {
  top: 100%;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  transition: 0.3s;
  background-color: rgba(255, 21, 0, 0.2);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicios-card:hover {
  background-position-y: center;
  transition: 0.9s;
  color: var(--claro);
}
.servicios-card:hover .fondo-animado-card {
  transition: 0.7s;
  top: 0;
}

/*------------------------------------------------------------------------*/
.about-container {
  color: var(--gris-oscuro);
  width: 100%;
  /* background-image: linear-gradient(
    145deg,
    var(--rojo) 10%,
    var(--rojo-claro) 20%,
    var(--amarillo)
  ); */
}
.about-history-container {
  height: auto;
  background: url("../assets/mantenimiento_1.jpg") no-repeat center;
  background-size: cover;
  padding: 5px 25px;
  padding-right: 50px;
  color: var(--amarillo);
  display: flex;
  flex-direction: column;
  align-items: end;
}
.about-history-container h3 {
  font-size: 32px;
  width: 100%;
}
.about-history{
  padding: 5px 30px;
  width: 70%;
  text-align: right;
}
.about-valores-container {
  width: 100%;
  background-color: var(--claro);
  position: relative;
}
.about-valores-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 5px;
  font-size: 18px;
  margin-bottom: 5px;
}
.about-valores-img {
  width: 50%;
  min-width: 275px;
  max-width: 350px;
}
.about-valores-text {
  width: 50%;
  min-width: 300px;
  padding: 10px;
}
.about-valores-text h5 {
  font-size: 28px;
}

/*--------------------------------------------------------------------------*/

.contacto-container {
  padding-top: 15px;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contacto-form {
  width: 40%;
  min-width: 310px;
  z-index: 2;
  margin: 0 10%;
}
.contacto-form h3 {
  font-size: 32px;
  color: var(--amarillo);
}
.contacto-form p {
  font-size: 14px;
  padding-bottom: 20px;
  color: var(--gris);
}
.contacto-form form {
  width: 100%;
  margin: 10px auto;
}
.contacto-form input {
  margin: 15px 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--gris);
}
.contacto-form input::placeholder {
  color: var(--gris-claro);
}
.contacto-form input:focus {
  border-bottom: 2px solid var(--amarillo);
  box-shadow: none;
}
.contacto-container textarea::placeholder {
  color: var(--gris-claro);
}
.contacto-form textarea:focus {
  border: 2px solid var(--amarillo);
  box-shadow: none;
}
#btnEnviar {
  margin: 10px 0;
  width: 100%;
  border-radius: 0;
  padding: 10px 0;
  background-color: var(--amarillo);
  border: none;
  color: var(--claro);
  position: relative;
}
#btnEnviar:hover {
  background-color: var(--rojo-claro);
  transition: 0.5s;
}
.contacto-info-container {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  background-color: var(--rojo);
  height: 360px;
  z-index: 2;
}
.contacto-info-container h5 {
  font-size: 22px;
  padding: 0 25px;
  color: var(--gris-oscuro);
}
.contacto-info {
  margin: 10px 25px;
}
.contacto-info a {
  text-decoration: none;
  color: var(--negro);
  font-size: 16px;
}
.contacto-info a:hover {
  color: var(--amarillo);
  transition: 0.3s;
}
.contacto-info i {
  font-size: 20px;
  margin-right: 20px;
}
.contacto-franja {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: var(--rojo-claro);
  z-index: 1;
}
.tooltip-disabled {
  width: 140px;
  height: auto;
  background-color: var(--gris-oscuro);
  color: var(--claro);
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: -100%;
  left: 10%;
  display: none;
}

#btnEnviar:hover .tooltip-disabled {
  display: block;
}

/*---------------------------------------------------------------------------------*/
.whap-float {
  z-index: 2;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whap-float a {
  color: #075e54;
  font-size: 50px;
  transition: 0.3s;
}
.whap-float a:hover {
  color: #25d366;
  transition: 0.3s;
  text-shadow: 3px 3px 8px rgba(37, 211, 101, 0.6);
}

/*---------------------------------------------------------------------------------------*/

footer {
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: var(--amarillo);
}
footer i {
  color: var(--rojo);
}

/*---------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
  .icon-menu {
    display: inline-block;
  }
  .slogan-container {
    padding: 10px 15px;
  }
  .slogan-container h1 {
    font-size: 48px;
  }
  .slogan-container p {
    font-size: 14px;
  }
  .menu-container {
    display: none;
  }
  .about-history-container{
    height: auto;
    padding: 5px 15px;
  }
  .about-history{
    width: 100%;
    padding: 5px 20px;
    font-size: 14px;
  }
  .about-valores-card {
    font-size: 14px;
  }
  .about-valores-img{
width: 80%;
  }
  .about-valores-text{
width: 80%;
  }
  .contacto-container{
    height: auto;
    margin-bottom: 20px;
  }
  .contacto-form {
    width: 80%;
    padding: 0 10px;
  }
  .contacto-info-container{
    width: 75%;
  }
  .mail a{
    font-size: 14px;
  }
  .contacto-franja {
    display: none;
  }
}

@media (max-width: 375px) {
  .slogan-container h1 {
    font-size: 36px;
  }
  .slogan-container p {
    font-size: 12px;
  }
  .servicios-title-container h3 {
    font-size: 24px;
  }
  .servicios-title-container p {
    font-size: 12px;
  }
  .about-history-container {
    padding: 5px 10px;
  }
  .about-history{
    font-size: 12px;
  }
  .about-valores-img{
    width: 90%;
  }
  .about-valores-text{
    width: 90%;
  }
  .contacto-form h3 {
    font-size: 24px;
  }
  .contacto-form p {
    font-size: 12px;
  }
  .contacto-info a{
    font-size: 14px;
  }
  .mail a{
    font-size: 12px;
  }
  .whap-float a {
    font-size: 40px;
  }
}